.login{ 
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

 .login-content-holder{
    width: 50%;
    margin:0px auto;
 }

 .login_btn{
    background: #f0c14b;
    border: none;
 }

 .login-header-text{
    color: #f0c14b
 }

 input.form-control:active{
    border-color: #f0c14b !important;
    box-shadow: #f0c14b !important;
 }