.box{
    background-image: url("./look.jpg"); 
   background-size: cover;
   /* background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(""); */
   background-repeat: no-repeat;
   background-position: center center;
   height: 100%;
   width: 100%;
   padding-top: 50px;
   /* background: -o-linear-gradient(); */
   background: -o-linear-gradient(rgba(0,0,0,10), rgba(0,0,0,10))
   
}