.upload {
    background-color: gray;
}

.upload_title, .upload_category, .upload_detail {
    flex: 0.8;
}
  
.upload > form {
    max-width: 400px;
  }

  .upload_detail > h3 {
    padding-bottom: 20px;
  }


  .upload_details > form > div > button {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    font-weight: bolder;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }

  .img-preview-wrapper{
    width: 100%; 
  }

  .preview{
    object-fit: contain;
    width: 100%;
  }